<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../Assets/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../Assets/css/index.css">

    <script src="../Assets/Bootstrap/jquery-3.5.1.min.js"></script>
    <script src="../Assets/Bootstrap/popper.min.js"></script>
    <script src="../Assets/Bootstrap/bootstrap.min.js"></script>
    <script src="../Assets/js/index.js"></script>

    <title>剪刀石頭布</title>

</head>

<body>
    <div id="main" class="container">
        <h1 class="text-center text-primary font-weight-bold">剪刀石頭布</h1>
        <div class="row">
            <!-- 使用者 -->
            <div class="col-md-4">
                <div class="alert alert-info">

                    <h2 class="text-center text-success font-weight-bold">你</h2>
                    <div id="option" class="row justify-content-center">

                        <div class="col-md-4">
                            <button type="button" class="user_choice btn btn-danger" id="scissors">
                                <img class="rounded img-thumbnail img-fluid" src="../Assets/image/剪刀.jpg" alt="剪刀">
                            </button>
                        </div>

                        <div class="col-md-4">
                            <button type="button" class="user_choice btn btn-primary" id="stone">
                                <img class="rounded img-thumbnail img-fluid" src="../Assets/image/石頭.jpg" alt="石頭">
                            </button>
                        </div>

                        <div class="col-md-4">
                            <button type="button" class="user_choice btn btn-warning" id="paper">
                                <img class="rounded img-thumbnail img-fluid" src="../Assets/image/布.jpg" alt="布">
                            </button>
                        </div>

                    </div>

                </div>

                <div id="choose">
                    <h4 class="text-center text-danger font-weight-bold">你的選擇</h2>
                        <img id="user_determine" class="rounded img-fluid" src="">
                </div>
            </div>
            <!-- 使用者 end -->

            <!-- 結果 -->
            <div class="col-md-4 h-100">
                <div id="result-block" class="alert alert-dark">
                    <h2 class="text-center text-success font-weight-bold">結果</h2>
                    <h2 id="result" class="text-center text-success font-weight-bold"></h2>
                </div>
            </div>
            <!-- 結果 end -->

            <!-- 電腦 -->
            <div class="col-md-4">
                <div class="alert alert-info">

                    <h2 class="text-center text-success font-weight-bold">電腦</h2>
                    <div id="option" class="row justify-content-center">

                        <div class="col-md-4">
                            <button type="button" class="btn btn-danger">
                                <img class="rounded img-thumbnail img-fluid" src="../Assets/image/剪刀.jpg" alt="剪刀">
                            </button>
                        </div>

                        <div class="col-md-4">
                            <button type="button" class="btn btn-primary">
                                <img class="rounded img-thumbnail img-fluid" src="../Assets/image/石頭.jpg" alt="石頭">
                            </button>
                        </div>

                        <div class="col-md-4">
                            <button type="button" class="btn btn-warning">
                                <img class="rounded img-thumbnail img-fluid" src="../Assets/image/布.jpg" alt="布">
                            </button>
                        </div>

                    </div>

                </div>

                <div id="choose">
                    <h4 class="text-center text-danger font-weight-bold">電腦的選擇</h2>
                        <img id="com-determine" class="rounded img-fluid" src="">
                </div>
            </div>
            <!-- 電腦 end -->

        </div>
    </div>
</body>

</html>